@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins&family=Smooch+Sans&display=swap');
body {
    background-color: #06183c;
    color: #db7e53;
    font-family:'Poppins', sans-serif;
    
}
.heading {
    text-align: center;
    padding-top: 5%;
}
.row {
    width: 100%;
    margin: 0px auto;
    margin-top: 50px;
    margin-left: 3%;
}
.card {
    position: relative;
    display: flex;
    width: 25%;
    flex-direction: column;
    word-wrap: break-word;
    border: 1px solid;
    border-radius: 11px;
    float: left;
    width: 18rem;
    margin-left: 1%;
}

.card .card-body {
    padding: 1rem 1rem;

}
p {
    margin-bottom: .5rem;
    line-height: 1.5rem;
}
#feedback {
    padding-top: 110px;
}
.head{
    text-align: center;
}
.contact {
    padding-top: 5%;
    padding-bottom: 10%;
    color: #db7e53;
}
.form-control {
    position: center;
    background: transparent;
}
#contact ::placeholder {
    color: #db7e53;
}
#row {
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.form-group {
    max-width: 50%;
    margin-left: 5%;
    margin-right: 10%;
    padding-top: 0%;
}
button {
    margin-left: 5%;
}
.address {
    text-align: center;
}
footer {
    text-align: center;
}
.navbar {
    float: right;
}

