@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:wght@200&family=Redressed&family=Shizuru&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
#profiles{
    background-color: #f0f0f0;
}

body{
    
    background: rgb(250, 117, 31);
    background: linear-gradient(
    90deg,
    rgba(250, 117, 31, 1) 10%,
    rgba(6, 24, 60, 1) 42%
  );
    background-position: cover;
    background-position: top;
    background-blend-mode: darken;
}

.face{
flex: 1;

}
.info{
    flex: 3;
    background-color:#06183c;
    color: white;
    grid-template-columns: 1fr 1fr;


}

#uv{
    width: 8vw;
    height: 5vw;
    
}
.imag{
    clip-path: circle();
}

.qul{
    border: 1px solid white;
    text-align: center;
    padding: 2rem;

}
.vehp img{
    width: 10vw;
    height: 6vw;
    
}

.offcanvas{
    background-color: #06183c;
}
.templata h6{
    color: #ff6600;
}
.stars i{
    color: goldenrod;
}
.face button{
justify-self:end;
}
body{
    font-family: 'Poppins', sans-serif;
}
.social i {
    color: #06183c;
    margin-right: 1vw; 
}
.social i:hover{
    transform: scale(1.3);
    color: #ff6600;
}
.social{
    background-color: white;
    box-shadow: inset 1px 1px   #ccc;
}
.br button{
    color: white;
    background-color: #06183c;
}
.br button:hover{
    color: white;
    transform: scale(1.2);
}
small{
    margin-left: 1vw;
    color: grey ;
}
section{
    margin-bottom: 1vw;
    margin-top: 1vw;
    
}
nav.navbar{
    background-color: #06183c;
    
    
}
.ct{
    width: 10vw;
    height: 10.5vw;
}

/* modal styles */
:root {
    --dark-navy-blue: #06183c;
    --light-navy-blue: #142445;
    --lighter-navy-blue: #2c3b5a;
    --orange: #fe6600;
    --fontColor: #e7eff5;
  }
  
  
  .modal-header,
  .modal-body,
  .modal-footer {
    background-color: var(--dark-navy-blue);
    color: var(--fontColor);
  }
  
  
  .modal-title {
    color: var(--orange);
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  
  .form-container {
    background-color: var(--light-navy-blue);
    height: auto;
    border-radius: 15px;
  }
  
  textarea,
  .fields input {
    border: none !important;
    outline: none;
    background: none;
    font-size: 1rem;
    padding: 10px;
  }
  
  .forminput {
    border-radius: 15px;
    box-shadow: inset 8px 8px 8px var(--dark-navy-blue), inset -8px -8px 8px var(--lighter-navy-blue);
  }
  
  textarea,
  input {
    color: var(--fontColor);
  }
  
  ::placeholder {
    color: var(--fontColor);
    opacity: .75;
  }
  
  .btn-close {
    background-color: var(--orange);
  }
  
  .btn-atc {
    background-color: var(--orange);
    color: var(--fontColor);
    font-size: 18px;
  }
  
  .btn-atc:hover {
    background-color: var(--light-navy-blue);
    border: 2px solid var(--orange) !important;
    color: var(--orange);
  }
  










@media only screen and (max-width:1300px){
.info{
    grid-template-columns: 1fr;
}
.templata{
    flex-direction: column;
}
.qul{
    border: none;
    margin: 0 auto;
}

    

    
}
